.card {
  border: 3px solid black;
  border-radius: 8px;
  padding: 25px 0 0 0;
  width: 350px;
  margin: 0 auto;
}

.img {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  object-fit: cover;
  background-color: dimgray;
}

.name {
  font-size: 28px;
  font-weight: bold;
}

.stats {
  list-style: none;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 8px 8px;
  margin-top: 10px;
}

.listItem {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.number {
  font-weight: bold;
}
