.card {
  border: 3px black solid;
  border-radius: 8px;
  padding: 25px 0 0 0;
  width: 350px;
}

.img {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  background-color: dimgray;
}

.name {
  font-size: 28px;
  font-weight: bold;
}

.stats {
  list-style: none;
  display: flex;
  padding-top: 10px;
}

.listItem {
    border: 1px grey solid;
      background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.number {
    font-weight: bold;
}
