.list {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  list-style: none;
  width: 100%;
  gap: 5px;
  width: 350px;
  margin: 0 auto;
}

.card {
  width: calc(100% / 5);
  border: 2px black solid;
  border-radius: 5px;
  padding: 5px;
}
